{
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-styled-components",
        "stylelint-config-concentric-order",
        ],
    "rules": {
        "declaration-block-trailing-semicolon": "always"
    }
}
